/*!
* My css
*/
.header-wrapper{
	display: flex;
	background-color: transparent;
	height: 4em;
	width: 100%;
	position: fixed;
	/*left: 0;*/
	z-index: 1;
	/*box-shadow: 0.1em 0.15em 0.2em rgba(0,0,0,.07) !important;*/
	/*box-shadow: 0px 0px 8px #efefef;*/
    transition: all .5s linear;
}

.navbar-nav {
    width: 100%;
    justify-content: flex-end;
}

.navbar .navbar-brand{
	color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.9);
    font-weight: 500;
    padding: 0 0.4em;
	margin: 0.5em 0.85em;
}

.navbar-light .navbar-nav .nav-link.active{
	color: rgba(0,0,0,.3);
	border-bottom: solid 2px #dc3538;
    transition: background-color 0.3s;
}

.nav-sticky {
    background-color: #fff;
    box-shadow: 0px 0px 8px #efefef;
    transition: all .5s linear;
}

.nav-sticky .navbar-brand{
	color: rgba(0,0,0,.9);
}

.header-right-container .hr-link{
	display: inline-block;	
	/*font-size: 1em;*/
	color: black;
	line-height: 2em;
	text-decoration: none;
	width: auto;
}

.home-wrapper{
	/*margin-top: 3em;*/
	display: flex;
    flex-direction: column;
	height: 100vh;
	width: 100%;
	/*background-image: linear-gradient(90deg, rgba(250,250,250,0), rgba(43,43,43,1)), url("images/home-bg.jpg");*/
	/*background: #dedede;*/
	background-size: cover;
}

.home-wrapper .home-content{
	width: 70%;
	position: relative;
	top: 37%;
	left: 10%;
}

.site-title{
	text-align: left;
	font-family: 'Quicksand', sans-serif;
	text-transform: uppercase;
}

.site-title .site-name, .site-title .site-slogan{
	font-weight: 900;
	color: #fff;
}

.site-title .site-name{
	font-size: 3.5rem;
}

.hd-title{
	color: #e84855;
}

.social-list{
	list-style-type: none;
}

.social-list{
	padding-left: 0;
}

.social-list{
	display: flex;
}

.social-list .item{
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.social-list .item span{
	position: absolute;
	top: 10px;
	width: 44px;
	opacity: 0;
	overflow: hidden;
}

.fb{
	color: #2947d8;
}

.social-list .item .icon-link{
	display: block;
	height: 44px;
	width: 44px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid;
}

.fab{
	margin: 6px 0;
}

.fb:hover{
	/*background-color: #29487d;*/
	background-color: #007bff;
	color: #fff;
	transition: all 0.25s;
}

.social-list .item:hover span{
	display: block;
	top: 45px;
	width: auto;
	opacity: 1;
	overflow: visible;
	transition: all 0.25s;
	color: #fff;
}

.gh{
	color: #24292e;
}

.gh:hover{
	background-color: #24292e;
	color: #fff;
	transition: all 0.25s;
}

.about-me-container{
	/*display: flex;
	flex-direction: row;
	align-items: center;
	height: 100%;
	width: 100%;*/
	background-color: #ededed;
	position: relative;
}

.sub-title{
	font-size: 44px;
	margin: 5px 0;
	text-transform: uppercase;
	text-align: center;
}

.sub-hd{
	padding: 4em 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.icon-wrapper {
 	/*text-align: center;
 	display: inline-block;
 	margin-top: 1.5em;*/
 	color: #bababa;
 	position: relative;
}

.icon-wrapper::before, .icon-wrapper::after {
	content: '';
	display: inline-block;
	width: 20vw;
    height: 2px;
    background: #bababa;
    vertical-align: middle;
    margin-top: -24px;
}

.about-me-container .container .row{
	align-items: center;
	justify-content: center;
}


.gen-info h3{
	margin-bottom: 0;
	color: #3b323c;
	font: bold 20px/24px Raleway;
}

.gen-info h4{
	margin: 0 0;
	font: normal 20px/24px Raleway;
	color: #969696;
}

.gen-info h3{
	margin-top: 1.5em;
}

.info-1{
	text-align: right;
}

.info-2{
	text-align: left;
}

.avatar-img{
	height: auto;
	max-width: 100%;
	border-radius: 50%;
	border: 10px solid #fff;
}

.summary{
	margin: 2em 6em;
	font: normal 20px/24px Raleway;
	color: #969696;
	font-size: 16px;
	text-align: center;
}

.about-me-container .download{
	display: flex;
	justify-content: center;
	padding-bottom: 2em;
}

.btn-download{
	padding: 0.9em 2.25em;
	/*padding: 18px 45px;*/
	text-decoration: none;
	background-color: #e84855;
	color: #fff;
	border-radius: 2.5em;
	font-size: 20px;
	font: bold 20px/24px Poppins;
	font-weight: 700;
  	
  	background-image: linear-gradient(to left, 
  		transparent, 
  		transparent 50%,
  		#3b323c 50%, 
  		#3b323c);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
}

.btn-download:hover{
	/*background-color: #252525;*/
	text-decoration: none;
	background-position: 0 0;
	color: #fff;
}

.skill-container .container .row{
	justify-content: center;
}

.content{
	background-color: #f1f2f7;
	box-shadow: 10px 10px 3px rgba(0,0,0,.07) !important;
	padding: 1em 1em 0;
	margin: 0 1em;
	width: 100%;
}

.content h2{
	font-size: 1.5em;
}

.skill-container .space{
	height: 2em;
}

.experience-container{
	background-color: #ededed;
}

.exp-hd{
	text-align: center;
}

.gen-exp{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 10px 1em;	
}

.gen-exp:hover{
	border-radius: 4px;
	/*background-color: #dedede;*/
	background: #fff;
	transition: all 1s;
}

.gen-exp .timeline-exp{
	margin: 2em 3em 2em 0;
	text-align: right;
	position: relative;
	/*right: 50px;*/
	width: 35%;
	font: normal 20px/24px Raleway;
}

.gen-exp .work-exp{
	width: 70%;
}

.gen-exp .timeline-exp h4{
	margin: 10px 0;
}

.gen-exp .timeline-exp .circle{
	position: absolute;
	right: -67px;
	top: 30px;
	background: #e84855;
	/*background-color: black;*/
    border-radius: 50%;
    height: 12px;
    width: 12px;
    content: "";
    display: inline-block;
    transition: all 0.4s ease-in-out;
  	transform-style: preserve-3d;
}

.gen-exp .timeline-exp .circle > div{
	display: block;
  	position: absolute;
  	width: 100%;
  	height: 100%;
  	border-radius: 50%;
  	/*background-position: center center;*/
	backface-visibility: hidden;
}

.gen-exp .timeline-exp .circle .front-circle{
  background: #e84855;
}

.gen-exp .timeline-exp .circle .back-circle{
  transform: rotateY(180deg);
  background-color: #adadad;
}

.gen-exp:hover .timeline-exp .circle{
	box-shadow: 0 0 0 6px #fff, 0 0 0 8px #e84855;
    transform: rotateY(-180deg);
	transition: all 0.5s;
}

.exp-content ul{
	padding: 3em 0 3em 3em;
	border-left: 2px solid #adadad;
	list-style-type: none;
	font: normal 20px/24px Raleway;
	color: #969696;
	font-size: 16px;
	margin: 1.5em 0;
}

.exp-content ul li{
	padding: 5px 0;
}

span.bold{
	font-weight: bold;
	color: #333;
}

.experience-container .spacer{
	height: 2em;
}

.edu-content{
	height: 100%;
	width: 100%;
}

.edu-content .row{
	justify-content: center;
}

.edu-content .gen-edu{
	display: flex;
	flex-direction: row;
	width: 70%;
	height: 250px;
	border-radius: 6px;
	background-color: #f1f2f7;
	align-items: center;
	position: relative;
	margin: 0 0 2em 0;
	transition: all 1s;
}

.edu-content .gen-edu::before{
	content: '';
	width: 190px;
	height: 190px;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	left: -95px;
}

.gen-edu .edu-timeline h2, .gen-edu .edu-timeline span{
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0 0;
}

.gen-edu .edu-timeline span{
	font: normal 20px/24px Raleway;
	color: #969696;
	font-size: 16px;
}

.gen-edu .edu-timeline{
	height: 180px;
	width: 180px;
	border-radius: 50%;
	position: absolute;
  	left: -90px;
	transition: all 0.5s ease-in-out;
  	transform-style: preserve-3d;
}

.gen-edu .edu-timeline > div{
	display: block;
  	width: 100%;
  	height: 100%;
  	border-radius: 50%;
  	position: absolute;
  	/*background-position: center center;*/
	backface-visibility: hidden;
}

.gen-edu .edu-timeline .front-edu{
  	background: #e84855;
}

.gen-edu .edu-timeline .back-edu{
  	transform: rotateY(180deg);
  	/*background-color: #adadad;*/
  	background-color: #3b323c;
  	color: #fff;
}

.gen-edu:hover .edu-timeline{
	/*box-shadow: 0 0 0 6px #fff, 0 0 0 8px #e84855;*/
    transform: rotateY(-180deg);
	transition: all 0.5s;
}

.gen-edu:hover{
	box-shadow: 10px 10px 3px rgba(0,0,0,.07) !important;
	transition: all 1s;
}

.gen-edu .edu-things{
	position: absolute;
	left: 7em;
}